.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .movies {
    width: 30%;
  }
  
  .movie-details {
    width: 60%;
  }
  
  .movie-details img {
    max-width: 200px;
    margin-bottom: 10px;
  }


  #buy-ticket {
    margin-top: 10px;
  }
  
  .film.sold-out {
    color: red;
  }
  
  .film-item {
    cursor: pointer;
  }